.Rproj.user
.Rhistory
.RData
.Ruserdata

# original_data and analysis_data should be excluded because the files in it are 
# too large. The original_data files can be downloaded online, while the 
# analysis_data files are created by the script
original_data/*
analysis_data/*

# R markdown HTML output documents
# (these are automatically created whenever a notebook is saved, but can't be
# displayed inline by GitHub, whereas .rmd files can)
*.nb.html

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

